@import 'font-awesome/less/font-awesome.less';
@import 'bootstrap/less/bootstrap.less';
 
body {
    padding-top: 15px;
    padding-bottom: 15px;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
#accordion > .panel > .panel-heading {
    padding: 0;
    a {
      display: block;
      padding: 10px 15px;
    }
}
#directions .close {
    display: none;
}
#algorithm .close {
    color: @btn-primary-color;
}
#directions, #algorithm {
    .panel {
      width: 140px;
    }
    .fa {
      font-size: 50px;
    }
}
.panel-body {
    .control {
        position: relative; top: -580px; left: -200px; z-index: 5;
    }
}